--- 
apiVersion: v1
clusters: 
  - 
    cluster: 
      server: "{{ hostvars[groups['k8smaster'][0]]['ansible_all_ipv4_addresses'][0] }}:8080"
    name: local
contexts: 
  - 
    context: 
      cluster: local
    name: mycontext
current-context: mycontext
kind: Config
